.body {
   margin: 0px;
   padding: 0px;
   background: url(../img/font-login.jpg) no-repeat center top;
   background-size: cover;
   font-family: sans-serif;
   height: 100vh;
}

.full-box{
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

.logInForm{
	position: absolute;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 300px;
	padding: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,.7);
	border-radius: 0 0 2px 2px;
	background-color: rgba(0, 0, 0, .7);
}

.logInForm p,
.logInForm label{
	color: #FFF;
}
/* logo que todavia no se puede ver */
.zmdi-account-circle:before {
   content: '\f205';
}

